{% for member in object_list %}
<tr>
    <td>{{ member.name }}</td>
    <td>{{ member.gmail }}</td>
    <td>{{ member.batch.number }}</td>
    <td>{{ member.file_number }}</td>
    <td>{{ member.renewal_date }}</td>
    <td>
        {% if member.vehicle %}
            {{ member.vehicle.plate_number }}
        {% else %}
            N/A
        {% endif %}
    </td>
    <td>
    <a href="{% url 'member_edit' member.pk %}" class="btn btn-sm btn-primary">Edit</a>
    <a href="{% url 'member_confirm_delete' member.pk %}" class="btn btn-sm btn-danger">Delete</a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="7">No members found.</td>
</tr>
{% endfor %}