{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
label[for$="-DELETE"], input[name$="-DELETE"] {
    display: none !important;
}
</style>
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Add Member</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Member Information</div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_full_name">Full Name</label>
                                {{ form.full_name }}
                            </div>
                            <div class="form-group">
                                <label for="id_phone_number">Phone Number</label>
                                {{ form.phone_number }}
                            </div>
                            <div class="form-group">
                                <label for="id_email">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="id_batch">Batch</label>
                                {{ form.batch }}
                            </div>
                            <div class="form-group">
                                <label for="id_batch_monitoring_number">Batch Monitoring Number</label>
                                {{ form.batch_monitoring_number }}
                            </div>
                            {% if form.user_account %}
                            <div class="form-group">
                                <label for="id_user_account">User Account</label>
                                {{ form.user_account }}
                            </div>
                            {% endif %}
                            <h5>Vehicle Information (optional)</h5>
                            {{ formset.management_form }}
                            {% for vehicle_form in formset %}
                                <div class="card mb-2 p-2 bg-light">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Plate Number</label>
                                            {{ vehicle_form.plate_number }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Engine Number</label>
                                            {{ vehicle_form.engine_number }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Chassis Number</label>
                                            {{ vehicle_form.chassis_number }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Make/Brand</label>
                                            {{ vehicle_form.make_brand }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Year Model</label>
                                            {{ vehicle_form.year_model }}
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Series</label>
                                            {{ vehicle_form.series }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Color</label>
                                            {{ vehicle_form.color }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
