{% extends 'user_base.html' %}
{% block title %}User Profile - Coop Management{% endblock %}
{% block content %}
<br><br>
<div class="user-dashboard-card">
    <h2>My Profile</h2>
    <div class="feature-card">Name:
        <span class="placeholder">
            {% if user.member_profile %}
                {{ user.member_profile.full_name }}
            {% elif user.full_name %}
                {{ user.full_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </span>
    </div>
    <div class="feature-card">Email: <span class="placeholder">{{ user.email }}</span></div>
    <div class="feature-card">Phone: <span class="placeholder">{{ user.phone_number|default:"N/A" }}</span></div>
    <div class="mt-3">
      <a href="{% url 'my_profile' %}" class="btn btn-primary">Edit Profile</a>
    </div>
</div>
{% endblock %}
