{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Vehicles</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">List of Vehicles</div>
                        <div class="card-category">Page Subtitle</div>
                    </div>
                    <br />
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'vehicle_list' %}">
                                <div class="input-group">
                                    <input type="text" id="vehicle-search" placeholder="Search ..." class="form-control" name="q" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-search search-icon"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a href="{% url 'vehicle_add' %}" class="btn btn-success btn-rounded"> Add Vehicle</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="vehicle-table-container">
                            <table class="table table-striped mt-3">
                                <thead>
                                    <tr>
                                        <th>Plate Number</th>
                                        <th>Engine Number</th>
                                        <th>Chassis Number</th>
                                        <th>Make/Brand</th>
                                        <th>Body Type</th>
                                        <th>Year Model</th>
                                        <th>Series</th>
                                        <th>Color</th>
                                        <th>Owner</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="vehicle-table-body">
                                    {% include 'includes/vehicle_table_rows.html' %}
                                </tbody>
                            </table>
                            {% include 'includes/pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(function() {
    $('#document-search').on('input', function() {
        var query = $(this).val();
        $.ajax({
            url: "{% url 'document_list' %}",
            data: { q: query },
            dataType: 'json',
            headers: { 'X-Requested-With': 'XMLHttpRequest' },
            success: function(data) {
                $('#document-table-body').html(data.html);
            }
        });
    });
});
</script>
{% endblock %}
