{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Add Vehicle</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Vehicle Information</div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_plate_number">Plate Number</label>
                                {{ form.plate_number }}
                            </div>
                            <div class="form-group">
                                <label for="id_engine_number">Engine Number</label>
                                {{ form.engine_number }}
                            </div>
                            <div class="form-group">
                                <label for="id_chassis_number">Chassis Number</label>
                                {{ form.chassis_number }}
                            </div>
                            <div class="form-group">
                                <label for="id_make_brand">Make/Brand</label>
                                {{ form.make_brand }}
                            </div>
                            <div class="form-group">
                                <label for="id_year_model">Year Model</label>
                                {{ form.year_model }}
                            </div>
                            <div class="form-group">
                                <label for="id_series">Series</label>
                                {{ form.series }}
                            </div>
                            <div class="form-group">
                                <label for="id_color">Color</label>
                                {{ form.color }}
                            </div>
                            <div class="form-group">
                                <label for="id_member">Member (optional)</label>
                                {{ form.member }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-rounded">Save</button>
                                <a href="{% url 'vehicle_list' %}" class="btn btn-secondary btn-rounded">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
